Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

Ordered list
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

Ordered list
1. NumPY
2. Keras
3. Pandas

Data Science Tools
MySQL
Kubeflow
Pixie Dust

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5

17

This a simple arithmetic expression to mutiply then add integers

In [ ]:
200/60

This will convert 200 minutes to hours by diving by 60

# Objectives:
1. Apache Hadoop
2. TensorFlow
3. Julia

Unordered list
1. Java
2. Scala
3. C++

# Author
Aykut Karagul